{{> head title="Accueil" }}
{{> header}}

<main>
  {{> section-tools }}
  {{> section-features }}
  {{> section-technology }}
  {{> section-installation }}
  {{> section-cta }}
  {{> section-awards section.awards }}
  {{> section-faq }}
  {{> block-cta text="I want to start a new project."}}
</main>

{{> footer }}