<div class="block-cta">
  <p class="text-center">{{ text }}</p>
  <div class="d-flex justify-content-center align-items-center">
    {{> btn-cta text="Buy now" url="./" class="btn btn-primary btn-arrow btn-arrow--light mr-3"}}
    {{> btn-cta text="Learn more" url="./" class="link"}}
  </div>
</div>