<div role="button" class="block-video px-0 offset-sm-1 {{ class }}" data-video-url="{{ video-src }}">
  <img src="{{ thumb-src }}" alt="Watch the video">
  <button class="btn btn-light btn-play">Play video</button>
</div>