<!DOCTYPE html>
<html lang="{{ global.language }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Odoo's Test for Web Designer position">
  <meta name="author" content="Frederic Defays">
  <meta name="keywords" content="html, scss, javascript, bootstrap, handlebars, gulp, npm">

  <link rel="stylesheet" href="./css/style.min.css">

  <title>{{ global.project }} | {{ title }}</title>
</head>

<body>