<section class="section-cta container bg-dark text-light p-5 my-5">
  <div class="row justify-content-between">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <h2 class="h3">{{ section.cta.title }}</h2>
      <p>{{ section.cta.description }}</p>
    </div>
    <span class="col align-self-center flex-grow-0">
      {{> btn-cta text="Learn more" url="./" class="btn btn-light btn-arrow"}}
  </div>
  </div>
</section>