<section class="section installation">
  <div class="container">
    <div class="row">
      <div class="col my-auto">
        {{> block-content section.installation }}
        <div class="download-app d-flex pt-3">
          {{> cta-store store="applestore" }}
          {{> cta-store store="playstore" }}
        </div>
      </div>

      {{> block-video thumb-src="./assets/img_03.jpg" video-src="./" class="col btn-left"}}
    </div>
  </div>
</section>