<div class="awesome-projects__slider slider mb-4">
  <div class="slider__name mb-2">
    <span>{{ task }}</span>
    <span>{{ time }} ></span>
  </div>
  <div class="slider__progress" style="--progress:{{ progress }}"></div>
</div>