.block-video {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / 1.4);
  }

  img {
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px gray("300");
  }

  .btn-play {
    position: absolute;
    font-size: 12px;
    top: 15px;
  }

  &.btn-right .btn {
    right: 15px;
  }

  &.btn-left .btn {
    left: 15px;
  }
}
